#backgroundWrapper {
	width: 1280px;
	height: 650px;
	background-image: url(../images/bballcourt.png);
	background-repeat: no-repeat;
	font-family: Garamond;
	font-weight: bold;
}

#gameArea {
	position: relative;
	width: 700px;
	height: 480px;
	background-color: #F1F7F7;
	left: 290px;
	top: 50px;
	border-radius: 10px;
}

header {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 40px;
	background-color: #3F807D;
	border-radius: 10px;
	color:white;
}

#questionImage {
	width: 250px;
	height: 300px;
	border-radius: 7px;
	margin-top: 40px;
	margin-left: 50px;
	float: left;
	border: 3px solid #0A4C49;
}

#textArea {
	width: 300px;
	height: 300px;
	float: left;
	margin-top: 40px;
	margin-left: 50px;
	border-radius: 7px;
	border: 3px dotted #0A4C49;
	color:#0A4C49;
}

.questionCircle {
	position: relative;
	width: 25px;
	height: 25px;
	top: 20px;
	left: 45px;
	border-radius: 100%;
	margin-left: 5px;
	border: 3px solid black;
	background-color: white;
}

#c1 {
	clear: both;
}

#c1, #c2, #c3, #c4, #c5, #c6 {
	float: left;
}

#question {
	width: 280px;
	height: 60px;
	position: relative;
	top: 20px;
	left: 10px;
	text-align: center;
	font-size: 18px;
}
#answerSection {
	width: 260px;
	height: 220px;
	position: relative;
	left:10px;
	top:25px;
}

form {
	position: relative;
	left:20px;
	top:14px;
	width: 30px;
	float: left;
}
form > span {
	position: relative;
	left: 7px;
	top: 1px;
	font-size: 18px;
}

#submit {
	clear: both;
	width: 100px;
	height: 30px;
	float: right;
	margin-top: 10px;
	margin-right: -10px; 
	border: none;
	border-radius: 6px;
	background-color: #3F807D;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color:white;
}

#submit:hover, .closeButton:hover {
	border: 2px solid #0A4C49;
}

#instructionsButton {
	float: right;
	font-size: 20px;
	height: 50px;
	width: 100px;
	margin-right: 45px;
	margin-top: 20px;
	color:#0A4C49;
}

#instructionsButton:hover {
	text-decoration: underline;
}

.overlay {
	position: absolute;
	width: 700px;
	height: 400px;
	background-color: #F1F7F7;
	left: 290px;
	top:120px;
	z-index: 1000;
}

.overlayBorder {
	position: relative;
	left: 150px;
	top: 50px;
	width: 400px;
	height: 240px;
	border: 4px dotted #0A4C49;
	border-radius: 6px;
}

.overlayText {
	position: relative;
	top: 40px;
	left: 30px;
	width: 320px;
	height: 200px;
	font-size: 20px;
	text-align: center;
	color:#0A4C49;
}

.closeButton {
	position: relative;
	top: 75px;
	left: 475px;
	width: 80px;
	height: 35px;
	background-color: #0A4C49;
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 18px;
	font-family: garamond;
	font-weight: bold;
}

.finalScreen {
	display: none;
}

ul {
	float: left;
	position: relative;
	left: 15px;
	top:15px;
}

#answer2, #answer3, #answer4 {
	margin-top: 19px;
}

button:focus{
	outline: 0;
}